@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

body {
  margin: 0;
  font-family: 'Lato', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: #007CB050;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  padding: 0;
  height: 6.25rem;
  background-color: #1F3855;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
}

.app-title {
  bottom: 5px;
  position: relative;
  padding: 0;
  margin: auto 50px;
  color: #ECECE7;
  font-size: 3rem;
}

header img {
  height: 100%;
  width: 3.3rem;
  margin-left: .2em;
}

.search-bar {
  height: 4rem;
  background-color: #007CB0;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  object-position: center;
  z-index: 2;
}

input#search {
  height: 8rem;
  width: auto;
}

input#loc {
  font-size: 1.6rem;
  margin: 0 1.5rem;
  background-color: #007CB0;
  color: #ECECE7;
  border: 0;
  border-bottom: 0.2rem solid #1F3855;
  border-radius: .25rem;
  font-family: 'Lato', 'sans-serif';
}

input#loc::placeholder {
  color: #ECECE7;
  opacity: 0.7;
}

input#loc:focus {
  outline: none;
}

.basic-info {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  margin: 0;
  background-color: #1F3855;
  list-style: none;
  color: #ECECE7;
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 0;
}

h2 {
  font-size: 2.5rem;
  padding: 0;
  margin: 1rem 0;
}

h2.error {
  font-size: 1.1rem;
  font-style: normal;
}

.info-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.info-group img {
  height: 5rem;
  width: auto;
  padding: 0;
  margin-right: 0.5rem
}

p.coordinate {
  font-size: 1.2rem;
  margin: 0;
  padding: 0,;
}

p.time {
  font-size: 1.4rem;
  margin: 0;
  padding: 0,;
}

p.details {
  font-size: 1.1rem;
}

.viewer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  overflow: hidden;
  padding-bottom: 25px;
}

.button {
  background: none;
  border: none;
  background-color: #007CB0;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #ECECE7;
  font-size: 3rem;
}

.left {
  grid-area: 3 / 1 / span 1 / span 1;
}

.right {
  grid-area: 3 / 12 / span 1 / span 1;
}

.forecast-chart {
  grid-area: 1 / 6 / span 3 / span 6;
  transform: scale(0.7);
  padding: 20px;
  background-color: #1F385540;
  border-radius: 20px;
}

.forecast-header {
  background-color: #1F3855;
  border-radius: 20px;
  font-size: 2rem;
  grid-area: 1 / 2 / span 3 / span 3;
  text-align: center;
  padding: 20px;
  color: #ECECE7;
}

.forecast-details {
  background-color: #1F3855;
  color: #ECECE7;
  opacity: 0.5;
  grid-area: 4 / 2 / span 3 / span 4;
  font-size: 1.3em;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
}

.forecast-details > p {
  margin: 10px;
}

.forecast-image {
  display: block;
  position: relative;
  margin: 0 auto;
}