@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  padding: 0;
  height: 6.25rem;
  background-color: #1F3855;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  bottom: 5px;
  position: relative;
  padding: 0;
  margin: auto 50px;
  color: #ECECE7;
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
}

header img {
  height: 100%;
  width: 3.3rem;
  margin-left: .2em;
}

.search-bar {
  height: 4rem;
  background-color: #007CB0;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  object-position: center;
}

input#search {
  height: 8rem;
  width: auto;
}

input#loc {
  font-size: 1.6rem;
  margin: 0 1.5rem;
  background-color: #007CB0;
  color: #ECECE7;
  border: 0;
  border-bottom: 0.2rem solid #1F3855;
  border-radius: .25rem;
  font-family: 'Lato', sans-serif;
}

input#loc::placeholder {
  color: #ECECE7;
  opacity: 0.7;
}

input#loc:focus {
  outline: none;
}

.empty-bar {
  height: 3rem;
  background-color: #1F3855;
}

.info-bar {
  padding: 0;
  margin: 0;
  height: 3rem;
  background-color: #1F3855;
  list-style: none;
  color: #ECECE7;
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
}

.info-bar > p {
  position: relative;
  margin: auto;
  padding: 0;
}


